.back-color{
    background-color: #E27E86;
}

#cuerpoProducto{
    width: 50%;
}

.estilos p:nth-child(3){
    text-align: justify;
}

#cuerpoProducto #negritas{
    font-weight: bold;
}

#cuerpoProducto #colorLogo{
    color: #E27E86;
}

.color-pink{
    background-color:#E27E86 !important;
}