.color-jugueti{
    background-color: #E27E86; 
    border-color: #E27E86;
    color: white;
}

.welcome-user{
    margin-left:auto; 
    margin-top: 10px; 
    font-size: 20px;
}

.logo-style{
    margin-left: 37%;
}

.carrito{
    margin-left: 70%;
}

.caja-carrito{
    margin-top: auto;
}

#inferior-navbar{
    border-color: black;
    width: 410px;
    }

#inferior-navbar .nav-link,
#inferior-navebar .navbar-brand{
    color: black;
    background-color: white;
}

#form{
    margin-top: 5%; 
    margin-left: 34%;
}

#textbox1{
    width: 25%;
}

#textbox2{
    width: 50%;
}

#caja-iniciosesion{
    width: 50%; 
    margin-left: 17%;
}

#boton-iniciosesion{
    background-color: #E27E86; 
    border-color: #E27E86;
}
