#FooterSize{
    border-top: 2px solid;
    padding: 2%;
    max-height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute; 
}

body{
    position: relative;
    padding-bottom: 250px;
    min-height: 100vh;
}